#sobre-mim{
    background: #48ab97;
    height: 100vh;
    align-items: center;
    display: flex;
    border-bottom: 1px solid white;
}

.container-sobre{
    display: grid;
    grid-template-columns: 500px 500px;
    margin: 0 auto;
    align-items: center;
}

.avatarSobre-img{
    width: 600px;
}

.content-sobre{
    text-align: justify;
}

