#skills{
    background: #48ab97;
    height: 100vh;
    display: grid;
    place-items: center;
    border-bottom: 1px solid white;
}

.skills-bar{
    width: 600px;
    background-color: #00000093;
    border-radius: 20px;
    padding: 25px 30px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}

.skills-bar .bar {
    margin: 20px 0;
}

.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

.skills-bar .bar .info span {
    font-size:  17px;
    font-weight: 500;
    opacity: 0;
    animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}

.skills-bar .bar .progress-line{
    position: relative;
    height: 10px;
    width: 100%;
    border-radius: 10px;
    background: #f0f0f0;
    transform-origin: left;
    transform: scaleX(0);
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.05),
                      0px 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.bar .progress-line span{
    height: 100%;
    width: 80%;
    background: #3daf98;
    border-radius:  10px;
    position: absolute;
    transform-origin: left;
    transform: scaleX(0);
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line.html span{
    width: 70%;
}

.progress-line.css span{
    width: 65%;
}

.progress-line.js span{
    width: 45%;
}

.progress-line.bootstrap span{
    width: 50%;
}

.bar .progress-line span::before{
    position: absolute;
    content: "";
    right: 0;
    top: -10px;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #000;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.bar .progress-line span::after{
    position: absolute;
    right: 0;
    top: -27px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    background: #000;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100%{
        opacity: 1;
    }
}

.progress-line.html span::after{
    content: "70%";
}

.progress-line.css span::after{
    content: "65%";
}

.progress-line.js span::after{
    content: "45%";
}

.progress-line.bootstrap span::after{
    content: "50%";
}