#inicio{
    height: 100vh;
    background: linear-gradient(63.13deg, #48ab97 51.04%, black 51.05%);
    align-items: center;
    display: flex;
    border-bottom: 1px solid white;
}

.container-inicio{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 500px 300px;
    align-items: center;
}

.description-inicio{
    font-size: 25px;   
    display: block;
    text-align: justify;
}

span{
    font-size: 40px;
}

.avatar-inicio{
    border-radius: 100%;
    width: auto;
    height: auto;
}

.name-inicio::after{
    content: '|';
    margin-left: 2px;
    opacity: 0;
    animation: blink .7s infinite;
    color: white;
}

@keyframes blink {
    0%, 100%{
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}
