#sobre-mim{
    background: #48ab97;
    height: 100vh;
    align-items: center;
    display: flex;
}

.container-sobre{
    display: flex;
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    align-items: center;
}

.img-sobre{
    float: left;
}

.avatarSobre-img{
    width: 500px;
}

.content-sobre{
    text-align: justify;
    display: block;
}

.tilte-sobre{
    font-size: 40px;
}

