#skills{
    background: #48ab97;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
}

.container-skills{
    margin: 0 auto;
}



.img-skills{
    width: 300px;
    height: 200px;
    padding: 0px 50px;
}

